body{
    font-family: 'Open Sans', sans-serif;
    color: #244469;
}



section{
    background-color: #AFD5C7;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color: #244469;
}

.card{
    background-color: #AFD5C7;
  
}

